#MainContainer {
   background-color: gray;
   
}
@media screen and (max-width:1000px) {
 #header{
display:flex;
justify-content:center;
 }
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 200px;
    text-align: center;
    margin-top: 95px;
    width:auto;
}
#content1{
    display:flex;
    justify-content:space-evenly;

}
#box1{
    width: 600px;
    margin-left:1px;
}
}